body{font-family:"Josefin Sans",sans-serif}
*{margin:0;padding:0;box-sizing:border-box}
header{display:flex;justify-content:center;flex-direction:row}
header nav{margin:1vw 0;background-color:#FFC8EA;width:85%;height:3.2vw;border-radius:25px;display:flex;justify-content:space-between;align-items:center}
header nav .logo{display:flex}
header nav .logo img{width:5vw;height:5vw}
header nav .logo h2{font-size:3vw;display:flex;align-items:center}
header nav .enlaceTienda{margin-left:70%}
header nav .enlaceTienda a{font-size:2vw;font-family:"Josefin Sans",sans-serif;text-decoration:none}
header .carritoNavegador{background-color:#FFF18F}
header #carrito{width:4vw;height:4vw;margin-top:0.5vw}
header #carrito img:hover{cursor:pointer}
header .volver{width:4vw;height:4vw;margin-top:0.5vw}
#buscador{width:80vw;height:2vw;border-radius:20px;border-color:black;margin-top:2vw;padding:1vw;font-size:1vw;font-family:"Roboto",sans-serif}
.Portada{display:flex;flex-direction:column}
.Portada h1{font-family:"Josefin Sans",sans-serif;text-align:center;font-size:3vw}
.Portada img{width:90%;margin:0 auto}
.Tienda .subtitulo{margin:1vw 0;background-color:#FFF18F;width:85%;height:3.2vw;border-radius:25px;display:flex;margin:0 auto;display:flex;justify-content:center;align-items:center;font-size:1.5vw;margin-top:1vw}
.Tienda p{display:flex;margin:0 25% 0 25%;flex-direction:column;font-family:"Roboto",sans-serif;font-size:1vw}
.Tienda p span{font-weight:bold;margin-top:1vw}
.Tienda{display:flex;flex-direction:column;align-items:center}
.Tienda #productos{display:grid;grid-template-columns:repeat(3, 1fr)}
.Tienda #productos .producto{border-radius:1vw;border:gray  0.1vw solid;width:15vw;height:17vw;display:flex;flex-direction:column;align-items:center;margin:4vw;box-shadow:4px 4px 8px gray}
.Tienda #productos .producto img{height:8vw;width:auto;margin:1vw 1vw 0vw 1vw}
.Tienda #productos .producto h3{text-align:center;margin:1vw;font-size:1vw}
.Tienda #productos .producto .botonComprar{border-radius:1vw;background-color:#FFC8EA;width:8vw;height:2vw;border:1px solid gray;display:flex;align-items:center;justify-content:center;cursor:pointer;color:black;font-family:"Roboto",sans-serif;font-size:1vw;padding:0.5vw;margin:0}
.Tienda #productos .producto .botonComprar:hover{background-color:#FFF18F}
#productosCarrito{margin:2vw 0vw;display:flex;flex-direction:column;align-items:center;justify-content:center;font-size:1.3vw}
#productosCarrito div{display:flex;flex-direction:row;align-items:center;justify-content:center}
#productosCarrito div .productoCarrito{display:flex;flex-direction:row;align-items:center;background-color:#FFC8EA;height:8vw;width:80vw;margin:0vw 2vw 3vw 0vw;border-radius:20px
}#productosCarrito div .productoCarrito div{margin-right:7vw}
#productosCarrito div .productoCarrito div img{width:auto;height:6vw;border-radius:20px;margin-left:1vw}
#productosCarrito div .productoCarrito .cantidadProductos{display:flex;flex-direction:row;margin-left:0vw}
#productosCarrito div .productoCarrito .cantidadProductos .mas:hover,#productosCarrito div .productoCarrito .cantidadProductos .menos:hover{cursor:pointer}
#productosCarrito div .eliminarDelCarrito{width:2vw;height:2vw;margin-bottom:3vw}
#productosCarrito div .eliminarDelCarrito:hover{cursor:pointer}
.TotalCarrito{display:flex;flex-direction:row;justify-content:end;margin-right:12vw;margin-top:3vw;font-size:3vw}
.TotalCarrito button{color:black;background-color:#FFF18F;border-radius:20px;width:10vw;border:0px}
.TotalCarrito button:hover{cursor:pointer}
.TotalCarrito #precioTotal{margin-left:2vw;padding-right:4vw}
.TotalCarrito h3{margin-right:1vw}
#error{background-color:#d53838;border-radius:50px;display:flex;flex-direction:column;align-items:center;justify-content:center;width:35vw;height:20vw;margin:5vw 100%}
#error img{width:10vw;margin-bottom:1vw}
#error .textoError{display:flex;flex-direction:column;justify-content:space-around;text-align:center;font-weight:bold;font-size:1.5vw}
#error .textoError h3{margin-bottom:1vw}#productosEmpleado{display:grid;grid-template-columns:1fr 1fr 1fr;gap:3vw;margin:3vw}
#productosEmpleado .productoEditar{width:25vw;height:30vw;border-radius:20px;border:black 0.05vw solid;display:flex;flex-direction:column;justify-content:space-around;margin:0 auto;align-items:center;position:relative}
#productosEmpleado .productoEditar .cardProductoEditar{position:relative}#productosEmpleado .productoEditar .cardProductoEditar .imagenEditar{display:flex;align-items:center;justify-content:center;position:relative}
#productosEmpleado .productoEditar .cardProductoEditar .imagenEditar .imagenProducto img{height:9vw}
#productosEmpleado .productoEditar .cardProductoEditar .imagenEditar .imagenArriba{position:absolute;top:0vw;left:-2vw}
#productosEmpleado .productoEditar .cardProductoEditar .nombreEditar{display:flex;justify-content:center;position:relative;margin:2vw 0vw 3vw 0vw}
#productosEmpleado .productoEditar .cardProductoEditar .nombreEditar .nombreProducto{text-align:center;width:15vw;font-size:1vw}
#productosEmpleado .productoEditar .cardProductoEditar .nombreEditar .imagenArriba{position:absolute;top:-2.5vw;left:-2vw}
#productosEmpleado .productoEditar .cardProductoEditar .stockEditar{position:relative}
#productosEmpleado .productoEditar .cardProductoEditar .stockEditar .stockProducto{background-color:#FFC8EA;display:flex;flex-direction:row;justify-content:space-around;border-radius:20px;height:4vw;align-items:center;font-size:1.5vw}
#productosEmpleado .productoEditar .cardProductoEditar .stockEditar .stockProducto .circuloStock{background-color:white;border-radius:50%;width:3vw;height:3vw;display:flex;align-items:center;justify-content:center}
#productosEmpleado .productoEditar .cardProductoEditar .stockEditar .imagenArriba{position:absolute;top:-1.5vw;left:-2vw}
#productosEmpleado .productoEditar .cardProductoEditar .precioEditar{display:flex;justify-content:center;position:relative;margin:2vw 0vw 3vw 0vw;font-size:1.5vw}
#productosEmpleado .productoEditar .cardProductoEditar .precioEditar .precioProducto{width:15vw;display:flex;justify-content:center}
#productosEmpleado .productoEditar .cardProductoEditar .precioEditar .imagenArriba{position:absolute;top:-2.5vw;left:-2vw}
#productosEmpleado .productoEditar .basura{position:absolute;top:-1vw;right:-1vw}
#productosEmpleado .productoEditar .basura img{width:3vw}
#productosEmpleado .productoEditar .icono{width:2.5vw}
footer{margin:0vw 2vw}
footer div{display:flex;justify-content:space-between;flex-direction:row;margin:2vw 5vw}
.cartelInicial{display:flex;flex-direction:column;justify-content:center;align-items:center;margin:15vw 10vw;margin-top:10vw}
.cartelInicial .inicial{background-color:#FFC8EA;border-radius:30px;width:20vw;height:12vw;padding:1vw;display:flex;flex-direction:column;justify-content:space-around;align-items:center}
.cartelInicial .inicial .slogan{text-align:center}.cartelInicial .inicial .botones{display:flex;flex-direction:row;gap:2vw}
.cartelInicial .inicial .botones button{background-color:white;border-radius:20px;padding:0.5vw 1vw;border:solid gray 0vw}
.cartelInicial .inicial .botones button:hover{background-color:#FFF18F;border:0vw}
.agregarProducto{display:flex;justify-content:center;margin:2vw}
.agregarProducto #agregarProducto{background-color:#FFF18F;width:15vw;height:5vw;border-radius:50px;font-size:1.5vw;border:0.2vw #FFF18F solid;font-family:"Josefin Sans",sans-serif;font-weight:bolder}
.agregarProducto #agregarProducto:hover{border:#FFC8EA 0.2vw solid;background-color:#FFC8EA}
